.user-container{
    display: block;
    
    justify-content: center;
    width: 100vw;
    border: 1px solid black;
}
table{
    border: 1px solid black;
    width: fit-content;
}
p.data{
    padding: 10px;
}
td.action{
    /* text-align: center; */
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
